<div class="panel panel-info">
      <div class="panel-heading">
        <div class="btn-group sortButton">
          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a class = "mostVoted" href="#">Most upvoted</a></li>
            <li><a class = "ascMin" href="#">Ascending min</a></li>
            <li><a class = "descMin" href="#">Descending min</a></li>
            <li><a class = "ascSec" href="#">Ascending sec</a></li>
            <li><a class = "descSec" href="#">Descending sec</a></li>
          </ul>
        </div>
        <h3 class="panel-title crowdWall">CrowdWall</h3>
      </div>
      <div class="panel-body text-center commentsPanel">
        <%submittedArray.forEach(function(sub){%>
          <div class="commentBox">
            <div class="usertag">
              <span class="label label-default usertag"><%=sub.user.local.nickname%></span>
            </div>
            <%var whatClass =""%>
            <%var buttonClass="hidden"%>
            <%var upvote = "upvote"%>
            <%if(user.local.email===sub.user.local.email){%>
              <%whatClass = "editClass noBorder"%>
              <%buttonClass = ""%>
              <%}%>
            <span class="commentTime"><strong>Min: </strong></span>
            <span class="<%=whatClass%> minSort" data-type="text" data-pk="<%=sub._id%>" data-url="/videos/<%=videoId%>?_method=PUT&commentid=<%=sub._id%>" data-name="timingmin"> <%=sub.timingmin%>
            </span>
            <span class="commentTime"><strong>Sec: </strong></span>
            <span class="<%=whatClass%> secSort" data-type="text" data-pk="<%=sub._id%>" data-url="/videos/<%=videoId%>?_method=PUT&commentid=<%=sub._id%>" data-name="timingsec"> <%=sub.timingsec%>
            </span>
            <p class="suggestedSubs"><strong>Suggested</strong></p>
            <p class="<%=whatClass%>" data-type="text" data-pk="<%=sub._id%>" data-url="/videos/<%=videoId%>?_method=PUT&commentid=<%=sub._id%>" data-name="sugsub"> <%=sub.sugsub%>
            </p>
            <p class="reasonOfSubs"><strong>Reason</strong></p>
            <p class="<%=whatClass%>" data-type="text" data-pk="<%=sub._id%>" data-url="/videos/<%=videoId%>?_method=PUT&commentid=<%=sub._id%>" data-name="reason"> <%=sub.reason%>
            </p>
            <button class="btn btn-success btn-xs upvote glyphicon glyphicon-arrow-up voteButton <%=sub._id%>" type="button" data-url="/videos/<%=videoId%>/upvote?_method=PUT&commentid=<%=sub._id%>" data-currenturl="/videos/<%=videoId%>" data-subid="<%=sub._id%>">
              <%=sub.upvote%>
            </button>
            <button class="btn btn-danger btn-xs <%=buttonClass%> <%=sub._id%> deleteButton" type="button" data-deleteurl="/videos/<%=videoId%>?_method=DELETE&commentid=<%=sub._id%>&timeminute=<%=sub.timingmin%>" data-currenturl="/videos/<%=videoId%>" data-subid="<%=sub._id%>">
              Delete
            </button>
          </div>
          <br>
        <%})%>
      </div>
    </div>
